.sliderinnernode{
    position: relative;
    display: flex;
    place-content: space-around;
}
.idle-animation{
	animation: slider-idleanimation var(--animation-time) linear;
}
.end-animation{
    animation: slider-endanimation var(--end-animation-time) ease;
}
.start-animation{
    animation: slider-startanimation var(--end-animation-time) ease;
}

@keyframes slider-idleanimation {
    
    from{
        transform: translate( calc( var( --animation-offset ) * var( --animation-direction ) ) );
    }
    to{
        transform: translate( calc( -1 * var( --animation-offset ) * var( --animation-direction ) ) );
    }
}
@keyframes slider-endanimation {
    from {
        transform: translate( calc( -1 * var( --animation-offset ) * var( --animation-direction ) ) );
    }
    to {
        transform: translate( calc( -100% * var( --animation-direction ) ) );  
    }
}
@keyframes slider-startanimation {
    from {
        transform: translate( calc( 100% * var( --animation-direction ) ) );  
    }
    to {
        transform: translate( calc( var( --animation-offset ) * var( --animation-direction ) ) );

    }
}